<!doctype html>
<html>
  <head>
    <title>Play Novem Server</title>
  </head>
  <body>
    <div id="ip-adress"></div>
    <div id="port-number"></div>

    <script>
    /* If the main page is served via https, the WebSocket must be served via
         "wss" (WebSocket Secure) */
    var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
    var webSocketUri =  scheme
                          + window.location.hostname
                          + (location.port ? ':'+location.port: '')
                          + '/chat';
    console.log(webSocketUri);
    </script>
  </body>
</html>
